<div class="navbar">
  <div class="clickable logo-container">
    <img src="{{logo}}">
  </div>
  <div class="clickable title-container">{{title}}</div>
  {{#if isDesktop}}
  <ul class="social-container">
    {{#each socialItems}}
      <li class="">
        <a target="{{props}}" href="{{route}}">
          <img src="{{image}}">
        </a>
      </li>
    {{/each}}
  </ul>
  {{/if}}
</div>